# Complete Python 3 Crash Course

 
 [Complete Python 3 Crash Course](https://youtu.be/0q1ihw--HzQ)
**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Tuples 
    * Sets
    * Dictionaries
    * Booleans

* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map 
* filter
* methods
* in operator
* tuples unpacking
____

## Data types

### Numbers

In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1 +1

2

In [4]:
1 * 2

2

In [5]:
1 * 3

3

In [6]:
1 / 4

0.25

In [7]:
2 ** 3

8

In [8]:
1 + 2 * 2 + 5

10

In [9]:
(1 + 2) * (2 + 5)

21

In [10]:
4 % 2

0

In [11]:
3 % 2

1

In [12]:
var = 2

In [13]:
var

2

In [14]:
x = 1
y = 2

In [15]:
x + y

3

In [16]:
x = x + x

In [17]:
x

2

In [18]:
var = 10

In [19]:
name_of_var = 10

In [21]:
var = 10

In [22]:
var

10

## Strings

In [24]:
'New String'

'New String'

In [25]:
"New String"

'New String'

In [26]:
"I'm Karthick"

"I'm Karthick"

In [27]:
x = 'hello'

In [28]:
x

'hello'

In [29]:
print(x)

hello

In [30]:
age = 23
name = 'Karthick'

In [33]:
print('My age is {one} and my name is {two}'.format(one=age,two=name))

My age is 23 and my name is Karthick

In [34]:
# String Indexing

In [35]:
s = 'hello'

In [37]:
s[4]

'o'

## Slice

In [39]:
s = 'abcdefghijk'

In [40]:
s[0:]

'abcdefghijk'

In [43]:
s[4:]

'efghijk'

In [44]:
# List

In [45]:
[1,2,3]

[1, 2, 3]

In [46]:
['a','b','c']

['a', 'b', 'c']

In [47]:
my_list = ['a','b','c']

In [48]:
my_list.append('d')

In [ ]:
my_list

In [51]:
my_list[3]

'd'

In [52]:
my_list[0] = "NEW"

In [53]:
my_list

['NEW', 'b', 'c', 'd']

In [54]:
nest_list = [1,2,[3,4]]

In [55]:
nest_list

[1, 2, [3, 4]]

In [57]:
nest_list[2][1]

4

In [58]:
nest_list = [1,2,3,[4,5,['Target']]]

In [61]:
nest_list[3][2][0]

'Target'

## Tuples

In [63]:
t = (1,2,3)

In [64]:
t[0]

1

In [66]:
t[0]

1

## Sets

In [68]:
{1,2,3}

{1, 2, 3}

In [69]:
{1,1,2,2,2,3,3}

{1, 2, 3}

In [70]:
set([11,11,22,22,33])

{11, 22, 33}

In [71]:
s = {1,2,3}

In [72]:
s.add(4)

In [73]:
s

{1, 2, 3, 4}

In [74]:
s.add(4)

In [75]:
s

{1, 2, 3, 4}

## Dictonaries

In [77]:
d = {'key' : 'value', 'key2' : 1234}

In [80]:
d['key2']

1234

In [81]:
d = {'key': [1,2,3]}

In [83]:
d['key'][2]

3

## Nested Dictonaries

In [85]:
d = {'k1': {'innerKey' : ['q','w','r']}}

In [88]:
d['k1']['innerKey'][2]

'r'

## Comparision Operators

In [90]:
1 >2

False

In [91]:
1 < 2

True

In [92]:
1 >= 2

False

In [93]:
1 <= 2

True

In [94]:
1 == 2

False

In [95]:
1 == 1

True

In [96]:
1 != 2

True

In [98]:
'hello' != 'world'

True

In [100]:
(1 < 2) and (2 > 3)

False

In [101]:
(1<2) or (2 > 3)

True

In [102]:
True and True

True

In [103]:
True and False

False

In [104]:
True or False

True

In [105]:
True or False or False

True

## Conditional Statement

### if elif else

In [111]:
if 1 == 2:
    print('hello')
elif 2 ==2 :
    print('middle')
elif 3 ==3 :
    print('three is true')
else:
    print('last')

middle

## For loops

In [119]:
seq = [1, 2, 3, 4, 5]

In [122]:
for num in seq:
    print("cat")

cat
cat
cat
cat
cat

## While loop

In [124]:
i = 1

while i < 5:
    print('i is {}'.format(i))
    i += 1

i is 1
i is 2
i is 3
i is 4

## range

In [130]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [128]:
list(range(0,5))

[0, 1, 2, 3, 4]

## List Comprehension

In [132]:
x = [1, 2, 3, 4]

In [133]:
out = []

for num in x:
    out.append(num * 2)

In [134]:
print(out)

[2, 4, 6, 8]

In [137]:
out = [num * 3  for num in x]

In [138]:
print(out)

[3, 6, 9, 12]

## Functions
### keyword - def

In [155]:
def square(num = 2):
    print(num ** 2)

In [156]:
square()

4

In [163]:
def area(value):
    """
    THIS IS A DOCSTRING
    IT CAN BE MULTIPLE LINES
    THIS FUNCTION IS USED FOR 
    FINDING AREA OF CIRCLE
    """
    return 3.14 * value **2

In [159]:
print(area(2))

12.56

In [164]:
area(4)

50.24

## map( )
### lambda

In [174]:
m = lambda var: var *2

In [175]:
m(4)

8

In [169]:
seq = [1, 2, 3, 4, 5]

In [176]:
list(map(lambda num : num * 3, seq))

[3, 6, 9, 12, 15]

## Filter

In [179]:
list(filter(lambda num : num % 2 == 0 , seq))

[2, 4]

## methods

In [181]:
s = 'Hello my name is Karthick'

In [184]:
s.lower()

'hello my name is karthick'

In [185]:
s.upper()

'HELLO MY NAME IS KARTHICK'

In [186]:
s.split()

['Hello', 'my', 'name', 'is', 'Karthick']

In [187]:
msg = 'hello, welcome to my channel'

In [191]:
msg.split(',')[1].split()[2]

'my'

In [193]:
d = {'k1': 1, 'k2': 2}

In [194]:
d

{'k1': 1, 'k2': 2}

In [195]:
d.keys()

dict_keys(['k1', 'k2'])

In [196]:
d.values()

dict_values([1, 2])

In [197]:
my_list = [1,2,3,4]

In [201]:
my_list.pop(0)

1

In [203]:
my_list.append(4)

In [204]:
my_list

[2, 3, 4]

## in operator

In [207]:
'a' in ['a','b','c']

True

## Tuples unpacking

In [209]:
x = [(1,2), (2,3), (3,4), (4,5)]

In [210]:
x

[(1, 2), (2, 3), (3, 4), (4, 5)]

In [215]:
for (a,b) in x:
    print (a)
    print (b)

1
2
2
3
3
4
4
5

# Thanks for watching !